*{
    box-sizing: border-box;
}

#nav{
    text-align: center;
}

.nav_button {
    position: relative;
    top: 6px;
    display: inline-block;
    margin: 0 32px;
    border: 2px solid black;
    padding: 12px 35px
}

.imgwrapper img{
    position: relative;
    width: 90%;
    height: 80%;
    max-height: 80%;
    

    }
.img_txt{
    position: relative;
    bottom: 25em;
    font-family: 'Libre Barcode 39 Text', cursive;
    text-align: center;
    color: #d6f4f9;
    
    
}
.jumbotron{
   
    text-align: center;
    background-color: black;
}


.img-thumbnail{
    max-height: 20em;
    
}

.info{
    font-family: 'EB Garamond', serif;
    height: 25em;
    text-align: center;

}

.crypto_header{
    font-size: 35px;
}

.works_button{
    padding: 1em 5em;
}

.info .col-xs-4{
    font-size: 16px
}